{
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-runtime",
    "transform-function-bind",
    "transform-decorators-legacy"
  ],
  "presets": [
    ["env", {
      "targets": {
        "uglify": true
      }
    }],
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
